.scrollbar {
    float: left;
    height: 600px;
    background: #fff;
    overflow-y: scroll;
  }
  .force-overflow {
    min-height: 600px;
  }
  
  .scrollbar-primary::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
  }
  
  .scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #2e333a;
  }
  
  .scrollbar-primary {
    scrollbar-color: #494c52 #F5F5F5;
  }

.scrollbar-rare-wind::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-rare-wind::-webkit-scrollbar {
    width: 12px;
    background-color: #a8a8a8;
}

.scrollbar-rare-wind::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-gradient(linear, left bottom, left top, from(#525252), to(#1d1d1d));
    background-image: -webkit-linear-gradient(bottom, #1d1f1f 0%, #2c2c2c 100%);
    background-image: linear-gradient(to top, #343a40 0%, #6c757d 100%);
}

.scrollbar-rare-wind {
    scrollbar-color: #a6adad #F5F5F5;
}

.bg {
  background-image: linear-gradient(to top, #6c757d 0%, #343a40 100%);
  border-radius: 6% !important;
}

.color-title {
  color:#cccccc
}