﻿@model ASPCORE_Lez3_Ibrido.Models.Studente 

<h1>Inserisci lo studente</h1>

<form asp-controller="Home" asp-action="EffettuaInserimento" method="post">
    <table>
        <tr>
            <td>
                <label asp-for="Nome">Nome:</label>
            </td>
            <td>
                <input type="text" asp-for="Nome" />
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Cognome">Cognome:</label>
            </td>
            <td>
                <input type="text" asp-for="Cognome" />
            </td>
        </tr>

        <tr>
            <td>
                <label asp-for="Matricola">Matricola:</label>
            </td>
            <td>
                <input type="text" asp-for="Matricola" />
            </td>
        </tr>
    </table>

    <button type="submit">Inserisci</button>
</form>