﻿@model ASPCORE_TASK_Palestra.Models.Utente
@{
    ViewBag.Title = "Area Personale";
    Layout = "_Layout";
}
<div class="row">
    <div class="col">
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Nome</h5>
                <p class="card-text">@Model.Nome</p>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Cognome</h5>
                <p class="card-text">@Model.Cognome</p>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Email (Username)</h5>
                <p class="card-text">@Model.Email</p>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Indirizzo</h5>
                <p class="card-text">@Model.Indirizzo</p>
            </div>
        </div>
        <div class="card w-50">
            <div class="card-body">
                <h5 class="card-title">Data di Nascita</h5>
                <p class="card-text">@Model.DataNascita.ToString("MM/dd/yyyy")</p>
            </div>
        </div>
        <a asp-controller="Utente" asp-action="ModificaDati" class="btn btn-primary m-4">Modifica Dati</a>
    </div>
</div>
