﻿@model ASPCORE_TASK_Palestra.Models.Utente

@{ 
    Layout = "_Layout";
    ViewBag.Title = "Login";
}

<div class="row">
    <div class="col"></div>
        <div class="col borders rounded bg-custom">
            <form asp-controller="Utente" asp-action="LoginCheck" method="post" class="form-group mt-4 mb-4">
                <label asp-for="Email">Email</label>
                <input type="text" asp-for="Email" id="logEmail" class="form-control" placeholder="esempio@mail.it" />
                <label asp-for="Password" class="mt-1">Password</label>
                <input type="password" asp-for="Password" id="logPassword" class="form-control" placeholder="Password"/>
                <button type="submit" class="btn btn-primary mt-2">LogIn</button>
            </form>
            <small>Non hai un'account? <a href="/Utente/SignUp">Registrati!</a></small>
        </div>
    <div class="col"></div>
</div>