﻿@model ASPCORE_TASK_Palestra.Models.Utente

@{
    Layout = "_Layout";
    ViewBag.Title = "Registrati";
}

<div class="row">
    <div class="col"></div>
    <div class="col borders rounded bg-custom">
        <form asp-controller="Utente" asp-action="SignUp" method="post" class="form-group mt-4 mb-4">
            <!--Nome-->
            <label asp-for="Nome">*Nome</label>
            <input asp-for="Nome" id="inNome" class="form-control" />
            <!--Cognome-->
            <label asp-for="Cognome">*Cognome</label>
            <input asp-for="Cognome" id="inCognome" class="form-control" />
            <!--Email (Username)-->
            <label asp-for="Email">*Email (Verrà usata per il Login)</label>
            <input asp-for="Email" type="email" id="inEmail" class="form-control" />
            <!--Password-->
            <label asp-for="Password">*Password</label>
            <input asp-for="Password" type="password" id="inPassword" class="form-control" />
            <!--Indirizzo-->
            <label asp-for="Indirizzo">Indirizzo</label>
            <input asp-for="Indirizzo" id="inIndirizzo" class="form-control" />
            <!--Data di Nascita-->
            <label asp-for="DataNascita">*Data di Nascita</label>
            <input type="date" asp-for="DataNascita" id="inData" class="form-control" />

            <button type="submit" class="btn btn-primary mt-2">Registrati</button>
        </form>
        <small>* Campo obbligatorio</small>
    </div>
    <div class="col"></div>
</div>