﻿@model ASPCORE_TASK_Palestra.Models.Utente

@{
    Layout = "_Layout";
    ViewBag.Title = "Registrazione avvenuta con successo!";
}

<div class="row">
    <div class="col"></div>
    <div class="col borders rounded bg-custom">
        <h4>Registrazione avvenuta con successo!</h4>
        <a class="btn btn-primary" asp-controller="Utente" asp-action="Login">Ok!</a>
    </div>
    <div class="col"></div>
</div>