﻿@model ASPCORE_TASK_Cinema.Models.User;

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col">
        <form asp-controller="User" asp-action="Login" class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" />
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" />
            <button type="submit">Login</button>
        </form>
        <small>You dont have an account? <a asp-action="SignUp">SignUp!</a></small>
    </div>
</div>