﻿@model ASPCORE_Lez5_CookieESessioni.Models.Credenziali

    <form asp-controller="Home" asp-action="LoginCheck" method="post">

        Username: <input type="text" asp-for="Username" /><br />
        Password: <input type="password" asp-for="Password" /><br />

        <button type="submit">Login</button>

    </form>

