﻿<%@ Page Title="About" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Iscrizione.aspx.cs" Inherits="Test_WebForm_2.About" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
   
    <h1>Utente loggato:</h1>
    Username: <asp:Label ID="lblUsername" runat="server"></asp:Label><br />
    DataLogin: <asp:Label ID="lblDataLogin" runat="server"></asp:Label>

    <asp:Button ID="btnLogout" runat="server" OnClick="btnLogout_Click" Text="LogOut" />
</asp:Content>
