﻿@model List<ASPCORE_Lez4_Impiegati.Models.Impiegato>

@{ 
    Layout = "_Layout";
}

<h1>Lista impiegati</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Cognome</th>
            <th>Codice</th>
            <th>Città</th>
            <th>Titolo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Cognome</td>
                <td>
                    <a href="/Impiegato/Dettaglio/@item.Codice">@item.Codice</a>
                </td>
                <td>@item.Citta</td>
                <td>@item.Titolo</td>
                <td>
                    <button type="button" class="btn btn-danger" onclick="eliminaImp('@item.Codice')">Elim.</button>
                </td>
            </tr>
        }

    </tbody>
</table>