.tabella-struttura {
    width: 100%;
    border: 1px solid;
    text-align: center;
}
td {
    background-color: lightblue;
}
.intestazione {
    text-align: center;
}

.piedipagina{
    text-align: center;;
}
.logo {
    height: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.padding-contorno{
    padding: 20px;
}
.colonna-menu{
    width: 33%;
}
p{
    text-align: justify;
}
.piena-larghezza{
    width: 100%;
    height: 75px;
}